<ion-view view-title="{{page.title}}">
    <div bn-fade-helper class="viewport">

        <div style="background-image: url('{{ image.source }}')" class="main image"></div>

    </div>
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in list" type="item-text-wrap"
                      ui-sref="tab.browse/info({ id: item.id })">
              <img ng-src="{{chat.face}}">
              <h2>{{item.title}}</h2>
              <p>{{item.description}}</p>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
