<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">

    <div class="card">
      <div class="item item-divider">До Революций</div>
      <div class="item item-text-wrap">
        <p style="text-align: justify;">Евреи жили на территории, относящейся к современной Украине, с начала нашей эры. Первые упоминания о них датируются IV веком до н. э., когда они появились в Крыму и греческих колониях на северо-восточном побережье Черного моря. В VIII—X веках из Византии, Кавказа, Багдадского халифата, франкских и испанских земель евреи мигрировали в Хазарию, где среди элиты был распространен иудаизм. Часть евреев на территории Украины тех времен разговаривала на еврейско-славянских диалектах, т. н. кнаанит, у них встречались и тюркские имена. После завоевания Каганата в 964 году киевским князем Святославом Игоревичем тамошние евреи переселились в Киев.[1]

        <p style="text-align: justify;">После массового уничтожения евреев во время восстания Хмельницкого на Левобережной Украине евреев не стало, и российские власти запрещали им селиться на этой территории до 1764 года. Основным занятием евреев на протяжении всего XVIII века в российской части Украины были торговля, ремесло и шинкарство. В основном они жили в сельской местности.

        <p style="text-align: justify;">Убийства евреев на Украине вновь приняло массовый характер в XVIII веке, во время так называемого гайдамацкого движения. В 1736 г. гайдамаки убили большое число евреев в Паволочи, осенью 1743 г. отряд атамана Гривы устроил погром в Виннице, большой урон от набегов гайдамаков понесли и другие еврейские общины. В 1747 г. гайдамаки атаковали Умань, что стоило жизни многим евреям, в 1750 г. разгромили общины Тульчина, Винницы и других городов и местечек. В 1768 г. во время «Колиивщины» (подавленной в том же году русскими и польскими войсками) были уничтожены десятки еврейских общин. Особенно массовой была Уманская резня в июне 1768 г.[2].
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">СССР</div>
      <div class="item item-text-wrap">
        This is a basic Card with some text.
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">Независимая Украина</div>
      <div class="item item-text-wrap">
        This is a basic Card with some text.
      </div>
    </div>

  </ion-content>
</ion-view>
