<ion-view view-title="Меню">
  <div bn-fade-helper class="viewport">

    <div style="background-image: url('{{ image.source }}')" class="main image"></div>

  </div>

    <div class="mainMenu">

      <div bn-fade-helper class="viewport">

        <div style="background-image: url('{{ image.source }}')" class="main image"></div>

      </div>

      <div class="row">
        <div class="col-33">


          <a href="#/tab/menu/browse">

            <img src="img/menu/browse.png" />

            Обзор

          </a>

        </div>
        <div class="col-33">


          <a href="#/tab/menu/browse">

            <img src="img/menu/places.png" />

            Места

          </a>

        </div>
        <div class="col-33">


          <a href="#/tab/menu/browse">

            <img src="img/menu/places.png" />

            Синагоги
          </a>

        </div>
      </div>
      <div class="row">
        <div class="col-33">


          <a href="#/tab/menu/browse">

            <img src="img/menu/community.png" />

            Общины

          </a>

        </div>
        <div class="col-33">


          <a href="#/tab/menu/browse">

            <img src="img/menu/hostels.png" />

            Жилье

          </a>

        </div>
        <div class="col-33">


          <a href="#/tab/menu/browse">

            <img src="img/menu/food.png" />

            Еда
          </a>

        </div>
      </div>
      <div class="row">
        <div class="col-33">


          <a href="#/tab/menu/browse">

            <img src="img/menu/help.png" />

            Справка

          </a>

        </div>
        <div class="col-33">


          <a href="#/tab/menu/browse">

            <img src="img/menu/world.png" />

            Туризм

          </a>

        </div>
        <div class="col-33">


          <a href="#/tab/menu/compass">

            <img src="img/menu/compass.png" />

            Компас
          </a>

        </div>
      </div>
    </div>

</ion-view>
