<ion-view view-title="Меню">
    <a href="" ng-click="showSettings()" menu-toggle="right" class="button button-icon icon ion-gear-a btn-settings"></a>

    <!--div bn-fade-helper class="viewport">
        <div style="background-image: url('{{ image.source }}')" class="main image"></div>
    </div-->
    <div class="bg"></div>

    <div class="mainMenu">
        <!--div bn-fade-helper class="viewport">
            <div style="background-image: url('{{ image.source }}')" class="main image"></div>
        </div-->
        <div class="row">
            <div class="col-33">
                <a ui-sref="tab.browse({ alias: 'browse' })">
                    <img src="img/menu/browse.png"/>
                    {{menu[0]|translate:'title'}}
                </a>
            </div>
            <div class="col-33">
                <a ui-sref="tab.browse({ alias: 'places' })">
                    <img src="img/menu/places.png"/>
                    {{menu[1]|translate:'title'}}
                </a>
            </div>
            <div class="col-33">
                <a ui-sref="tab.browse({ alias: 'synagogues' })">
                    <img src="img/menu/synagogues.png"/>
                    {{menu[2]|translate:'title'}}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-33">
                <a ui-sref="tab.browse({ alias: 'community' })">
                    <img src="img/menu/community.png"/>
                    {{menu[3]|translate:'title'}}
                </a>
            </div>
            <div class="col-33">
                <a ui-sref="tab.browse({ alias: 'hostels' })">
                    <img src="img/menu/hostels.png"/>
                    {{menu[4]|translate:'title'}}
                </a>
            </div>
            <div class="col-33">
                <a ui-sref="tab.browse({ alias: 'food' })">
                    <img src="img/menu/food.png"/>
                    {{menu[5]|translate:'title'}}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-33">
                <a ui-sref="tab.browse({ alias: 'help' })">
                    <img src="img/menu/help.png"/>
                    {{menu[6]|translate:'title'}}
                </a>
            </div>
            <div class="col-33">
                <a ui-sref="tab.browse({ alias: 'world' })">
                    <img src="img/menu/world.png"/>
                    {{menu[7]|translate:'title'}}
                </a>
            </div>
            <div class="col-33">
                <a href="#/tab/menu/compass">
                    <img src="img/menu/compass.png"/>
                    Компас
                </a>
            </div>
        </div>
    </div>
</ion-view>
