<ion-tabs class="tabs-color-active-positive tabs-icon-only">

  <ion-tab title="Поиск" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Меню" icon-off="ion-ios-keypad-outline" icon-on="ion-ios-keypad" href="#/tab/menu">
    <ion-nav-view name="tab-menu"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Карта" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

</ion-tabs>
