<?xml version='1.0' encoding='utf-8'?>
<widget id="com.esvit.jewmap" version="0.0.1" xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>JewMap</name>
    <description>Offline map</description>
    <author email="esvit666@gmail.com" href="http://esvit.name">Vitalii Savchuk</author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />

    <icon src="res/icon.png" />

    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />

    <feature name="http://api.phonegap.com/1.0/file" />
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
</widget>
