.viewport {
    z-index: -1;
}
.viewport, .viewport .image {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-filter: sepia(1);
    filter: sepia(1);
}

.viewport .fader {
    border-radius: 5px 5px 5px 5px ;
    display: none;
    left: 0px;
    position: absolute;
    top: 0px ;
    opacity: .3;
    z-index: 2;
}
.viewport .fader.show {
    display: block;
}
.viewport .main {
    display: none;
    z-index: 1;
}


.hideHeader .bar.bar-stable .title {
    color: transparent;
}
.hideHeader .bar.bar-stable {
    background: transparent;
}
