.viewport {
    z-index: -1;
}
.viewport, .viewport .image {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-filter: sepia(1);
    filter: sepia(1);
}

.viewport .fader {
    display: none !important;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}
.viewport .fader.show {
}
.viewport .fader.fadeOut {
    opacity: 0;
}
.viewport .main {
    display: block;
    z-index: 1;
}


.hideHeader .bar.bar-stable .title {
    color: transparent;
}
.hideHeader .bar.bar-stable {
    background: transparent;
}
