ion-item img, .item-avatar img {
    background-color: #a69875;
}
.item {
    background: transparent;
}
.item-complex .item-content {
    background-color: rgba(255,255,255, .7);
}


.mapboxgl-canvas-container, .mapboxgl-canvas, .leaflet-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto !important;
    height: auto !important;
}

.leaflet-routing-container {
    display: none;
}

.with-bg, .mainMenu {
    background-image: url('../img/mainbg.png');
    background-color: transparent;
    background-size: cover;
    background-position: center center;
}